.choices-container {
    align-items: center;
    border: solid 1px #fbfbfb;
    border-radius: 100px;
    display: flex;
    height: 45px;
    margin-bottom: 15px;
    position: relative;
    width: 500px;
}

.highlighted-choice {
    box-shadow: 0 0 6px 1px rgba(195, 51, 51, 0.5);
    background-color: rgba(249, 249, 249, 0.5);
    border-radius: 100px;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    opacity: 0.5;
}

.highlighted-choice-right {
    animation: right-to-left 0.4s linear forwards;
    left: 50%;
}

.highlighted-choice-left {
    animation: left-to-right 0.4s linear forwards;
}

.text-selected {
    color: #474646;
}

@keyframes left-to-right {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

@keyframes right-to-left {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}
